<!DOCTYPE html>
<html>
  <head>
    <title>Wizard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.any? %>
      <ul id="flash">
        <% flash.each do |key,message| %>
          <li class="flash flash-<% key %>"><%=message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
